.mat-table {
  width: 100%;
}
.mat-cell,
.mat-header-cell {
  padding-inline: 0.5em !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
td div {
  padding-inline: 0.5em;
}
.buttons-container {
  display: flex;
  gap: 5px;
}
.mat-spinner {
  margin: auto;
}
